.checkbox__title {
  margin-left: 5px;
  cursor: pointer;
}

.wrapper {
  display: inline-block;
  /* padding-top: 5px; */
}

.wrapper .fa {
  margin-top: 5px;
  /* text-align: left;
  transform: translateX(50%); */
}

span {
  padding: 0;
}

.checkbox__input:not(checked) {
  position: absolute;
  opacity: 0;
}
